
<h1>Viewing Employee</h1> 
<h2>{{ employee.firstName }}</h2>
<h3>Put in Department</h3>
<form action="{% url 'polls:putInDepartment' employee.id %}" method="POST">
{% csrf_token %}
  Department Name: <input type="text" name="departmentName"/>
  <input type="submit" value="Submit">
</form> 


{% if departmentList %}
  <ul>
  {% for dp in departmentList %}
    <li><a href='#'>{{ dp.departmentName }}</li></a> 
  {% endfor %}
  </ul>
{% else %}
  <p>No departments are available</p> 
{% endif %}

<a href="{% url 'polls:index' %}">Homepage</a> 