

{% load staticfiles %}
<body>
<strong>Question List</strong> 

{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> 
  {% endfor %}
  </ul>
{% else %}
  <p>No polls are available</p> 
{% endif %}

<h2>Employee Form</h2>
<form action='#'>
    First Name: <input type="text" name="firstname">
    <br>
    Last Name: <input type="text" name="lastname"> 
    <br>
    <input type="submit" value="Add Employee"> 
</form> 
{% if latest_employee_list %}
  <ul>
  {% for employee in latest_employee_list %}
    <li><a href="{% url 'polls:detailEmployee' employee.id %}">{{ employee.firstName }}</a></li> 
  {% endfor %}
  </ul>
{% else %}
  <p>No employees are available</p> 
{% endif %}
</body> 
